.container{
    background-color: aquamarine;
}
.box{
    border: 1px solid;
    color:white ;
}
.box-highlight{
    color: blue;
}
.list-item{
    color: green;
}
p{
    color: red;
}
div:nth-child(1), div:nth-child(2){
    margin: 10px;
    
}
